<!-- Heading -->
<div class="row text-center">
    <div class="container">
        <h2 class="section-heading">Student Portfolio</h2>
        <h3 class="section-subheading text-muted">Hello <strong>{{ main.username }}, </strong>This page allows you to add, edit and delete tasks.</h3>
    </div>
</div>
<!-- Heading -->

<br>

<!-- Loading Icon (Bootstrap) -->
<div class="jumbotron text-center" ng-show="management.loading">
    <span class="glyphicon glyphicon-repeat spinner"></span>
    <p>Loading....</p>
</div>
<!-- Loading Icon (Bootstrap) -->

<br>

<!-- Input For Filter  -->
<div>
    <div class="col-lg-6">
        <div class="input-group">
            <span class="input-group-addon">Results to display:</span>
            <input type="text" class="form-control" ng-model="number">
        </div>
    </div>
</div>

<!-- Container: Start -->
<div class="container">

    <!-- Apply Button Filter -->
    <button type="button" ng-click="management.showMore(number);" class="btn btn-success">Apply Filter</button>

    <!--/ Show All Button -->
    <button type="button" ng-click="management.showAll();" class="btn btn-warning">Show All</button>
    <!-- Input For Filter  -->

    <!-- Simple Search Bar -->
    <div class="navbar-form">
        <div class="form-group">
            <!-- Search Input -->
            <input type="text" class="form-control" name="search" placeholder="search for..." ng-model="searchKeyword">
        </div>
        <!-- Serach Button -->
        <button type="button" ng-click="management.search(searchKeyword, number);" class="btn btn-default">Search</button>
        <!-- Clear Button -->
        <button type="button" ng-click="management.clear();" class="btn btn-default">Clear</button>
        <!-- Advanced Search Button -->
        <a href="/search">
            <button type="button" class="btn btn-default">Advanced Search</button>
        </a>
    </div>
    <!-- Simple Search Bar /-->

    <!-- Custom Error Message -->
    <div class="row show-hide-message" ng-show="management.showMoreError">
        <div class="alert alert-danger">{{ management.showMoreError }}</div>
    </div>
    <!-- Custom Error Message -->

</div>
<!-- Container: End -->

<br>

<!-- Total Search Results -->
<div ng-show="searchFilter !== undefined">
    <p><strong>Total results: </strong>{{ (management.users | filter: searchFilter).length }}</p>
</div>

<!-- Results Being Shown -->
<div ng-show="searchFilter !== undefined">
    <p><strong>Showing: </strong>{{( management.users | filter: searchFilter | limitTo: management.limit).length }}</p>
</div>

<br>
<br>
<br>

<!-- User Management Table -->
<div class="panel panel-primary">
    <!-- Heading -->
    <div class="panel-heading">
        <strong>{{main.username}}'s Portfolio</strong>
    </div>
    <!-- Start: Table -->
    <table class="table">
        <tr>
            <th>Tasks</th>
        </tr>
        <tr ng-repeat="person in management.users | filter: searchFilter | limitTo: management.limit">
            <td>{{ person}}</td>
            <td></td>
            <td>
                <!-- Delete Button -->
                <button type="button" ng-click="management.deleteUser(person);" ng-show="management.deleteAccess" class="btn btn-danger">Delete</button>
            </td>
        </tr>
        <!-- End: Table -->
    </table>
</div>
<!-- User Management Table -->

<br>
<br>

<form ng-submit="management.addWork(assign);">
  <div class="well">
  <label>Add Work Task</label>
  <input class="form-control" type="text" name="content" placeholder="Please insert task here" ng-model="management.assign.content">
  <br>
  <button class="btn btn-primary" type="submit">Add</button>
</div>
</form>


<!-- Loading Icon -->
<div class="jumbotron text-center" ng-show="work.loading">
    <span class="glyphicon glyphicon-repeat spinner"></span>
    <p>Loading....</p>
</div>
<!-- Loading Icon -->

<br>


<div class="row show-hide-message" ng-show="work.successMsg">
    <div class="alert alert-success">{{ management.successMsg }}</div>
</div>
<!-- Successful Registration Message -->

<br>

<!-- Failed Registration Message -->
<div class="row show-hide-message" ng-show="work.errorMsg">
    <div class="alert alert-danger">{{ management.errorMsg }}</div>
</div>
<!-- Failed Registration Message -->
